---
import PvcfStoryReader from '../components/PvcfStoryReader.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>PVCF Story</title>
	</head>
	<body>
		<h1>PVCF Story</h1>
		<PvcfStoryReader />
	</body>
</html>

<style>
	body {
		margin: 0em auto;
		padding: 0.75em;
		max-width: 50em;
		font-family: sans-serif;
		line-height: 1.5;
	}
</style>
